{{ $title := .Title | default .Site.Title }}
{{ $description := .Description | default .Site.Params.description }}
{{ $image := (or (and .Params.images (first 1 .Params.images)) .Site.Params.images) }}
{{ $url := .Permalink | default .Site.BaseURL }}

<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:image" content="{{ $image }}" />
<meta property="og:url" content="{{ $url }}" />

{{ template "_internal/twitter_cards.html" . }}